
.chat-module {
  background-color: #fafafa;
}
.chat-module .chat-bar-bottom {
  position:absolute;
  bottom: 0;
  width: 100%;

  padding-left: 6px;
  padding-right: 6px;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgba(255, 255, 255, 1.0)),
    color-stop(0.95, rgba(255, 255, 255, 0.8))
  );

}
.chat-module #input-message {
  /* border: 1px #333 solid; */

  width: 100%;
  height: 24px;

  font-size: 1em;
  margin-right: 6px;
  padding-left: 6px;

  border: 0;
  border-radius: 14px;
  background-color: rgba(100, 100, 100, 0.1);
}
.chat-module .messages {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  overflow: scroll;

  background-color: #fafafa;
}
.chat-module .messages ul {
  list-style: none;
  margin: 0;
  padding: 36px;
}
.chat-module .messages ul::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}
.chat-module .messages li {
  float: left;
  clear: both;
  line-height: 1.4em;
  max-width: 224px;
  margin: 12px;
  padding: 0.7em 16px;
  border-radius: 18px;
  font-family: sans-serif;
  color: whitesmoke;
  background: skyblue;
}
.chat-module .messages li:nth-child(odd) {
  border-bottom-left-radius: 2px;
  opacity: 0.5;
}
.chat-module .messages li:nth-child(even) {
  float: right;
  border-bottom-right-radius: 2px;
}