.contact img {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  vertical-align: middle;
}

.contact .contact-img-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.contact table {
  border: 0;
}

.contact {
  cursor: pointer;

  width: 320px;
  border-bottom: 1px transparent solid;
}

.contact:hover {
  animation: contact-hover 0.5s;
  border-bottom: 1px #333 solid;

  /* background-color: rgba(255, 255, 255, 0.5); */
}

@keyframes contact-hover {
  0%   { border-bottom: 1px transparent solid; }
  100% { border-bottom: 1px #333 solid; }
}
