@charset "utf-8";
/* http://techneblog.com/article/creating-responsive-multiple-column-list */



html, body {
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;

  padding: 0;
  margin: 0;
}

h1 {
  position: relative;
  bottom: 8px;

  font-size: 1.5em;
  display: inline;
  vertical-align: bottom;
}

.header {
  width: 320px;
}

.content {
  /* margin: 40px auto; */
  /* padding: 20px; */
  padding: 0;
  margin: 0;

  /* max-width: 1200px; */
  /* height: calc(100% - 120px); */
  width: 100%;
  height: 100%;

  /*
  background-color: rgba(255, 255, 255, 100);
  border-radius: 20px;
  */

}

.table-modules {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.responsive {
  position: absolute;
  top: 0;

  margin: 0;
  padding: 0;

  height: 100%;

  overflow: scroll;

  /* column-width: 320px; */
  column-gap: 36px;
}

.responsive li {
  list-style-type: none;
  border: 1px transparent solid;
  height: 42px;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

/* not lookin nice yet
.responsive li:nth-child(odd) {
  background-color: #f5f5f5;
}
.responsive li:nth-child(even) {
  background-color: #fafafa;
}
*/

/*
* {
 border: 1px red solid;
}
*/


.header .username {
  font-size: 1.2em;
  font-weight: bold;
}

.btn.fa-plus {
  cursor: pointer;

  display: inline;
  padding: 4px 8px;

  border: 0;
  border-radius: 12px;

  /* causes probs when searching :P */
  /* animation: btn-fa-plus 0.2s; */
  background-color: transparent;
}

.btn.fa-plus:hover {
  animation: btn-fa-plus-hover 0.2s;
  background-color: rgba(248, 187, 208, 1);
}

@keyframes btn-fa-plus-hover {
  0%   { background-color: transparent; }
  100% { background-color: rgba(248, 187, 208, 1); }
}


@keyframes btn-fa-plus {
  0%   { background-color: rgba(248, 187, 208, 1); }
  100% { background-color: transparent; }
}


.top-bar {
  position:absolute;
  top: 0;
  width: 100%;

  padding-left: 6px;
  padding-right: 6px;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgba(255, 255, 255, 0.8)),
    color-stop(0.95, rgba(255, 255, 255, 1.0))
  );
}

.top-bar .title {
  display: inline-block;
  color: #333;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  line-height: 46px;
  vertical-align: center;
}





