
.ring-btn  {
  position: relative;
  top: -2px;

  display: inline-block;

  height: 24px;
  width: 24px;
  margin: 4px;
  padding: 4px;

  border-radius: 90px;
  text-align: center;
  background: rgba(233, 30, 99, 0.5);
  color: #fafafa;
  border: 2px #fafafa solid;
}

.ring-btn:hover {
  cursor: pointer;

  background: #fafafa;
  color: rgba(233, 30, 99, 0.5);
  border: 2px rgba(233, 30, 99, 0.5) solid;
}

.ring-btn .fa {
  position: relative;
  top: 4px;
}
