
.settings-module {
  position: relative;
  top: 0;

  height: 100%;
  background-color: #fafafa;
}


.settings-module ul {
  padding: 50px 6px 0;
  overflow: scroll;

  margin: 0;
  list-style-type: none;
}

.settings-module ul li.hoverable {
  cursor: pointer;
  height: 32px;
  border-bottom: 1px transparent solid;
}

.settings-module ul li.hoverable:hover {
  animation: settings-list-item-hover 0.5s;
  border-bottom: 1px #333 solid;
}

.settings-module ul li.hoverable .list-item {
  line-height: 32px;
  text-align: center;
  vertical-align: center;
}

@keyframes settings-list-item-hover {
  0%   { border-bottom: 1px transparent solid; }
  100% { border-bottom: 1px #333 solid; }
}


.settings-module ul li .profile-img {
  position: relative;
  text-align: center;
  padding: 16px;
  height: 164px;
  width: calc(100% - 164px);

}

.settings-module ul li .profile-img img {
  position: absolute;
  width: 128px;
  height: 128px;
  border-radius: 64px;

  cursor: pointer;
}

.settings-module ul li .profile-img img:hover {
  animation: settings-edit-profile-image-hover 0.2s;
  opacity: 0.5;
}


.settings-module ul li .profile-img .edit {
  position: absolute;
  display: inline;

  line-height: 128px;
  width: 128px;
  height: 128px;

  border-radius: 64px;
  vertical-align: center;

  font-weight: bold;
  background-color: rgba(200, 200, 200, 0.5);
}

@keyframes settings-edit-profile-image-hover {
  0%   { opacity: 1.0; }
  100% { opacity: 0.5; }
}

/*

body {
  background-color: #f5f5f5;
}

.top-bar {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.05, rgba(255, 255, 255, 0.7)),
    color-stop(0.95, rgba(255, 255, 255, 1.0))
  );

}

.top-bar-title {
  display: inline-block;
  color: #333;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  line-height: 46px;
  vertical-align: center;
}


*/
