<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="robots" content="noindex">

  <title>Dream Chat</title>
  <meta content="Dream Chat - encrypted peer to peer chat in zeronet"/>

  <link rel="stylesheet" href="css/login.css">
  <link rel='stylesheet' href='css/font-awesome.min.css'>

</head>

<body translate="no">

<div id="body" class="present-fast">
  <div class="pen-title">
    <h1>Dream Chat Login</h1>
    <span>
        {{ lang.titleSub }}
        <a href="//1JBFNPrAGp1nQX6RsAN6oRqCfvtoeWoion/search.html?q=lava+phox">lava phox</a>
      </span>
  </div>
  <div class="container">
    <div class="card">
      <h1 class="title">{{ lang.selectAccount }}</h1>
      <div class="button-container">
        <p>{{ lang.selectAccountSub }}</p>
        <button lavatube-onclick="onLogin()"><span>{{ lang.select }}</span></button>
      </div>
    </div>
  </div>
</div>

</body>

</html>
