<div class="chat-module present-no-loading">
  <div class="messages">
    <ul>
      <li>
        Is this the real life?
      </li>
      <li>
        Is this just fantasy?
      </li>
      <li>
        Caught in a landslide
      </li>
      <li>
        No escape from reality.
      </li>
      <li>
        Open your eyes
      </li>
      <li>
        Look up to the skies and see
      </li>
      <li>
        I'm just a poor boy, I need no sympathy
      </li>
      <li>
        Because I'm easy come, easy go
      </li>
      <li>
        Little high, little low
      </li>
      <li>
        Anyway the wind blows doesn't really matter to me, to me.
      </li>
      <li>
        Mama, just killed a man
      </li>
      <li>
        Put a gun against his head
      </li>
      <li>
        Pulled my trigger, now he's dead.
      </li>
      <li>
        Mama, life had just begun
      </li>
      <li>
        But now I've gone and thrown it all away.
      </li>
      <li>
        Mama, ooh
      </li>
      <li>
        Didn't mean to make you cry
      </li>
      <li>
        If I'm not back again this time tomorrow
      </li>
      <li>
        Carry on, carry on as if nothing really matters.
      </li>
      <li>
        Too late, my time has come
      </li>
      <li>
        Sent shivers down my spine
      </li>
      <li>
        Body's aching all the time.
      </li>
      <li>
        Goodbye, everybody, I've got to go
      </li>
      <li>
        Gotta leave you all behind and face the truth.
      </li>
      <li>
        Mama, ooh (anyway the wind blows)
      </li>
      <li>
        I don't wanna die
      </li>
      <li>
        I sometimes wish I'd never been born at all.
      </li>
      <li>
        I see a little silhouetto of a man
      </li>
      <li>
        Scaramouche, Scaramouche, will you do the Fandango?
      </li>
      <li>
        Thunderbolt and lightning
      </li>
      <li>
        Very, very frightening me.
      </li>
      <li>
        (Galileo) Galileo.
      </li>
      <li>
        (Galileo) Galileo
      </li>
      <li>
        Galileo Figaro
      </li>
      <li>
        Magnifico.
      </li>
      <li>
        I'm just a poor boy, nobody loves me.
      </li>
      <li>
        He's just a poor boy from a poor family
      </li>
      <li>
        Spare him his life from this monstrosity.
      </li>
      <li>
        Easy come, easy go, will you let me go?
      </li>
      <li>
        Bismillah! No, we will not let you go. (Let him go!)
      </li>
      <li>
        Bismillah! We will not let you go. (Let him go!)
      </li>
      <li>
        Bismillah! We will not let you go. (Let me go!)
      </li>
      <li>
        Will not let you go. (Let me go!)
      </li>
      <li>
        Never, never let you go
      </li>
      <li>
        Never let me go, oh.
      </li>
      <li>
        No, no, no, no, no, no, no.
      </li>
      <li>
        Oh, mama mia, mama mia (Mama mia, let me go.)
      </li>
      <li>
        Beelzebub has a devil put aside for me, for me, for me.
      </li>
      <li>
        So you think you can stone me and spit in my eye?
      </li>
      <li>
        So you think you can love me and leave me to die?
      </li>
      <li>
        Oh, baby, can't do this to me, baby
      </li>
      <li>
        Just gotta get out, just gotta get right outta here.
      </li>
      <li>
        (Oh, yeah, oh yeah)
      </li>
      <li>
        Nothing really matters
      </li>
      <li>
        Anyone can see
      </li>
      <li>
        Nothing really matters
      </li>
      <li>
        Nothing really matters to me.
      </li>
      <li>
        Anyway the wind blows.
      </li>
    </ul>
  </div>

  <div class="top-bar">
    <div class="ring-btn" lavatube-onclick="onBack()">
      <div class="fa fa-chevron-left"></div>
    </div>

    <div class="title">talkin to user mambo</div>
  </div>

  <div class="chat-bar-bottom">
    <table style="width: 100%; border: 0;">
      <tr>

        <!--td style="width: 0">
          <div class="ring-btn" lavatube-onclick="">
            <div class="fa fa-paper-plane-o"></div>
          </div>
        </td-->

        <td style="width: 100%">
          <label>
            <input id="input-message" type="text">
          </label>
        </td>

        <td style="width: 0">
          <div class="ring-btn" lavatube-onclick="">
            <div class="fa fa-paper-plane-o"></div>
          </div>
        </td>

      <tr>
    </table>
  </div>
</div>