
<style>
  .outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .inner i {
    font-size: 2em;
    opacity: 0.7;
  }
</style>

<div class="outer present-no-loading">
  <div class="middle">
    <div class="inner">
      <div class="ring-btn" lavatube-onclick="onBack()">
        <div class="fa fa-chevron-left"></div>
      </div>
      {{ lang.waitingForUserToAccept }}
      <i class="fa fa-spinner" aria-hidden="true" style="padding-left: 16px;"></i>
    </div>
  </div>
</div>
