<style>
  .outer {
    display: table;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .middle {
    display: table-cell;
    vertical-align: middle;
  }

  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  .inner i {
    font-size: 4em;
    opacity: 0.7;
  }
</style>

<div class="outer present-no-loading">
  <div class="middle">
    <div class="inner">
      <i class="fa fa-comment" aria-hidden="true"></i>
    </div>
  </div>
</div>

