
<div class="settings-module present-no-loading">

  <ul>
    <li>
      <div class="profile-img">
        <div class="edit">{{ lang.edit }}</div>
        <a rel="nofollow" class="button" href="#pop"><img src="{{ currentUser.profileImage }}"></a>
      </div>
    </li>
    <li lavatube-onclick="onLogout()" class="hoverable"><div class="list-item">
      <i class="fa fa-sign-out" aria-hidden="true"></i> {{ lang.logOut }}
    </div></li>
  </ul>

  <div class="top-bar">
    <div class="ring-btn" lavatube-onclick="onBack()">
      <div class="fa fa-chevron-left"></div>
    </div>

    <div class="title">{{ lang.settings }}</div>
  </div>

</div>


<div id="pop" class="modal-overlay">
  <div class="modal">
    <h2>Change profile image</h2>
    <a rel="nofollow" class="close" href="#">×</a>
    <div class="content">
      <div style="text-align: center">Select profile image by clicking on browse button</div>
      <br>
      <input lavatube-onchange="onSelectProfileImage(this)" type="file" class="button" value="Browse" accept="image/png, image/jpeg, image/jpg">
      <br><br>
      <a rel="nofollow" class="button disabled" lavatube-onclick="onUploadProfileImage()">Ok</a>
      <a rel="nofollow" class="button" href="#">Cancel</a>
    </div>
  </div>
</div>